<mat-sidenav-container class="all-wrap" fullscreen>
    <mat-sidenav #sidenav>
        <mat-list>
            <a mat-list-item (click)="sidenav.toggle()" *ngIf="isLogged">Users</a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="logOut(); sidenav.toggle()" routerLink="/login" *ngIf="isLogged">Log Out</a>
            <a mat-list-item (click)="sidenav.toggle()" *ngIf="!isLogged">Log In</a>
        </mat-list>
    </mat-sidenav>

    <div class="page-wrap">
        <header role="banner">
            <mat-toolbar color="primary">
                <button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
                    <mat-icon>menu</mat-icon>
                </button>
                BubaJobs Admin
            </mat-toolbar>
        </header>
        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </div>
</mat-sidenav-container>